doctype html
html
    head
        script(src="/jquery/jquery.min.js")
    body
        div
            input#send(type="button" value="Go")

script(src="/javascripts/sample_ajax.js")
script setupPage();